@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}
input[type="checkbox"] {
    background-color: var(--checkbox-bg-color);
    border: 2px solid var(--checkbox-border-color);
  }

  input[type="checkbox"]:checked::before {
    color: var(--checkbox-check-color);
  }